
.title {
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.italic {
    -fx-font-style: italic;
}

.buttonContainer .button {
    -fx-pref-width: 165;
}

.mainHeader{
    -fx-background-color: white;
}

.menuTitle {
    -fx-font: 30 Uni-Sans-Bold;
}
.smallTitle {
    -fx-font: 24 Uni-Sans-Bold;
}

.root {
    -fx-background-color: white;
}
#welcomeScreen {
    -fx-background-image: url("corendonwelkomstscherm.png");
    -fx-background-size: cover;
}

#loginScreen {
    -fx-background-image: url("gradientbg.png");
    -fx-background-size: cover;
}

.accountlist.disabled {
    -fx-background-color: #ffaaaa;
}
.accountlist.disabled .text {
    -fx-text-fill: #ffcccc;
}
.accountlist.disabled .delete {
    visibility: hidden;
}
.accountlist.enabled .restore {
    visibility: hidden;
}

/* Colors */
.coloredButton {
    -fx-background-color: #00BCE2;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}
.bgTheme {
    -fx-background-color: #00BCE2;
}
.menuButton {
    -fx-background-color: #00BCE2;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}
.menuButton.selected {
    -fx-background-color: #0082BA;
    -fx-underline: true;
}

/* Color 2 */
.colored1 .coloredButton {
    -fx-background-color: #D81E05;
}
.colored1 .menuButton {
    -fx-background-color: #D81E05;
}
.colored1 .bgTheme {
    -fx-background-color: #D81E05;
}
.colored1 .menuButton.selected {
    -fx-background-color: #AF272F;
}

/* Color 3 */
.colored2 .coloredButton {
    -fx-background-color: #EA7600;
}
.colored2 .menuButton {
    -fx-background-color: #EA7600;
}
.colored2 .bgTheme {
    -fx-background-color: #EA7600;
}
.colored2 .menuButton.selected {
    -fx-background-color: #BE6000;
}