
.title {
    -fx-font-size: 24;
    /*-fx-font-family: "Courier new";*/
    -fx-font-weight: bold;
}

.italic {
    -fx-font-style: italic;
}

.buttonContainer .button {
    -fx-pref-width: 165;
}

.buttonContainer{
    -fx-background-color: #E0E0E0;
}

.mainHeader{
    -fx-background-color: #00BCE2;
}